*

!.gitignore
!hypr/
!hypr/**
!hyprpanel/
!hyprpanel/**
!rofi/
!rofi/**
!kitty/
!kitty/**
!nvim/
!nvim/**
*-flags.conf

!gtk-3.0/
!gtk-3.0/**
!gtk-4.0/
!gtk-4.0/**
!qt5ct/
!qt5ct/**
!qt6ct/
!qt6ct/**
